body{
    background-color: lightblue;
}

#layout{    
    padding-left: 6;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
   border-width: 15px;
   border-inline-width: 6px;  
}
#align{
    padding-top: 20;
    text-align: center;
}
